In [1]:
pip install html5lib

Requirement already satisfied: html5lib in c:\users\gjaischool-77\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\gjaischool-77\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\gjaischool-77\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
krx_list = pd.read_html('./data/상장법인목록.xls')
krx_list[0]

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,윤성에프앤씨,372170,"구조용 금속제품, 탱크 및 증기발생기 제조업",2차전지용 믹싱시스템,2022-11-14,12월,박치영,http://www.ysfc.co.kr,경기도
1,디티앤씨알오,383930,자연과학 및 공학 연구개발업,비임상 및 임상시험 대체 용역,2022-11-11,12월,박채규,http://www.dtncro.com,경기도
2,뉴로메카,348340,특수 목적용 기계 제조업,"협동로봇, 협동로봇 자동화 플랫폼, 로봇제어기 등",2022-11-04,12월,박종훈,http://www.neuromeka.com,서울특별시
3,제이아이테크,417500,기타 화학제품 제조업,반도체 프리커서 및 쿼츠/블랭크/포토마스크용 케이스,2022-11-04,12월,함석헌,http://www.ji-tech.co.kr,전라북도
4,LX세미콘,108320,반도체 제조업,Display Driver IC,2022-11-03,12월,손보익,http://www.lxsemicon.com,대전광역시
...,...,...,...,...,...,...,...,...,...
2545,CJ대한통운,120,도로 화물 운송업,"Contract Logistics, 포워딩, 항만하역, 해운, 택배국제특송, SCM...",1956-07-02,12월,"강신호,민영학(각자대표)",http://www.cjlogistics.com,서울특별시
2546,메리츠화재,60,보험업,"손해보험(화재,해상,운송보험)",1956-07-02,12월,김용범,http://www.meritzfire.com,서울특별시
2547,경방,50,종합 소매업,"섬유류(면사,면혼방사,면직물,면혼방직물,화섬사,화섬직물) 제조,도매,수출입",1956-03-03,12월,"김준, 김담",http://www.kyungbang.co.kr,서울특별시
2548,유수홀딩스,700,회사 본부 및 경영 컨설팅 서비스업,지주사업,1956-03-03,12월,송영규,http://www.eusu-holdings.com,서울특별시
2549,한진중공업홀딩스,3480,연료용 가스 제조 및 배관공급업,지주회사,1956-03-03,12월,"조남호, 조원국",http://www.hhic-holdings.com,경기도

In [3]:
krx_list[0].종목코드 = krx_list[0].종목코드.map('{:06d}'.format)

In [4]:
krx_list[0]

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,윤성에프앤씨,372170,"구조용 금속제품, 탱크 및 증기발생기 제조업",2차전지용 믹싱시스템,2022-11-14,12월,박치영,http://www.ysfc.co.kr,경기도
1,디티앤씨알오,383930,자연과학 및 공학 연구개발업,비임상 및 임상시험 대체 용역,2022-11-11,12월,박채규,http://www.dtncro.com,경기도
2,뉴로메카,348340,특수 목적용 기계 제조업,"협동로봇, 협동로봇 자동화 플랫폼, 로봇제어기 등",2022-11-04,12월,박종훈,http://www.neuromeka.com,서울특별시
3,제이아이테크,417500,기타 화학제품 제조업,반도체 프리커서 및 쿼츠/블랭크/포토마스크용 케이스,2022-11-04,12월,함석헌,http://www.ji-tech.co.kr,전라북도
4,LX세미콘,108320,반도체 제조업,Display Driver IC,2022-11-03,12월,손보익,http://www.lxsemicon.com,대전광역시
...,...,...,...,...,...,...,...,...,...
2545,CJ대한통운,000120,도로 화물 운송업,"Contract Logistics, 포워딩, 항만하역, 해운, 택배국제특송, SCM...",1956-07-02,12월,"강신호,민영학(각자대표)",http://www.cjlogistics.com,서울특별시
2546,메리츠화재,000060,보험업,"손해보험(화재,해상,운송보험)",1956-07-02,12월,김용범,http://www.meritzfire.com,서울특별시
2547,경방,000050,종합 소매업,"섬유류(면사,면혼방사,면직물,면혼방직물,화섬사,화섬직물) 제조,도매,수출입",1956-03-03,12월,"김준, 김담",http://www.kyungbang.co.kr,서울특별시
2548,유수홀딩스,000700,회사 본부 및 경영 컨설팅 서비스업,지주사업,1956-03-03,12월,송영규,http://www.eusu-holdings.com,서울특별시
2549,한진중공업홀딩스,003480,연료용 가스 제조 및 배관공급업,지주회사,1956-03-03,12월,"조남호, 조원국",http://www.hhic-holdings.com,경기도

In [5]:
df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13')[0]

In [6]:
df['종목코드'] = df['종목코드'].map('{:06d}'.format)
df = df.sort_values(by='종목코드')

In [7]:
df

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
31,동화약품,000020,의약품 제조업,"의약품 제조,판매,수출입",1976-03-24,12월,"유준하, 한종현(각자 대표이사)",http://www.dong-wha.co.kr,서울특별시
342,KR모터스,000040,그외 기타 운송장비 제조업,"이륜차(오토바이) 제조,도매",1976-05-25,12월,노성석,http://www.krmotors.com,경상남도
1588,경방,000050,종합 소매업,"섬유류(면사,면혼방사,면직물,면혼방직물,화섬사,화섬직물) 제조,도매,수출입",1956-03-03,12월,"김준, 김담",http://www.kyungbang.co.kr,서울특별시
36,메리츠화재,000060,보험업,"손해보험(화재,해상,운송보험)",1956-07-02,12월,김용범,http://www.meritzfire.com,서울특별시
675,삼양홀딩스,000070,기타 금융업,"지주회사,경영자문컨설팅",1968-12-27,12월,"엄태웅, 이영준",http://www.samyang.com,서울특별시
...,...,...,...,...,...,...,...,...,...
1674,JTC,950170,종합 소매업,"식품류, 생활용품류, 화장품류 (사후면세업)",2018-04-06,02월,구철모,http://www.groupjtc.com/korean/,일본
2026,미투젠,950190,소프트웨어 개발 및 공급업,"캐주얼게임, 소셜카지노게임",2020-08-18,12월,손창욱 (대표이사),http://www.me2zen.com,홍콩
2046,소마젠,950200,"그외 기타 전문, 과학 및 기술 서비스업","유전체 분석 서비스 (NGS, CES 등)",2020-07-13,12월,홍수,http://psomagen.com,미국
1956,프레스티지바이오파마,950210,자연과학 및 공학 연구개발업,바이오시밀러 및 항체의약품 신약,2021-02-05,06월,박소연,http://www.prestigebiopharma.com,싱가포르
443,네오이뮨텍,950220,자연과학 및 공학 연구개발업,면역항암제,2021-03-16,12월,양세환,http://neoimmunetech.co.kr,미국

# beautifulsoup로 진행 -> 안됨

In [8]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\gjaischool-77\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\gjaischool-77\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install lxml

Requirement already satisfied: lxml in c:\users\gjaischool-77\anaconda3\lib\site-packages (4.8.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
!pip install requests

Requirement already satisfied: requests in c:\users\gjaischool-77\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\gjaischool-77\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gjaischool-77\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\gjaischool-77\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gjaischool-77\anaconda3\lib\site-packages (from requests) (3.3)

In [11]:
url = 'https://finance.naver.com/item/sise.naver?code=068270&page=1'
with urlopen(url) as doc:
    html = BeautifulSoup(doc, 'lxml')
    url1 = html.find_all('iframe')[3]["src"]

url1 = 'https://finance.naver.com' + url1
print(url1)

res1 = requests.get(url1)
frame_soup = BeautifulSoup(res1.content, 'lxml')

print(frame_soup)

NameError: name 'urlopen' is not defined

In [12]:
url = 'https://finance.naver.com/item/sise.naver?code=068270&page=1'

with urlopen(url) as doc:
    html = BeautifulSoup(doc, 'lxml')
    iframexx = html.find_all('iframe')

#url1 = 'https://finance.naver.com' + url1

    for iframe in iframexx:        
        response = urlopen('https://finance.naver.com/item/sise_day.naver?code=068270')
        iframe_soup = BeautifulSoup(response)
        
        print(iframe_soup)

NameError: name 'urlopen' is not defined

In [13]:
import requests
from bs4 import BeautifulSoup
code ='068270'
url = f'https://finance.naver.com/item/sise_day.naver?code={code}'
req = requests.get(url,headers={'User-agent':'Mozilla/5.0'})
html = BeautifulSoup(req.text,'lxml')
pgrr = html.find('td',class_='pgRR')
print(pgrr.a['href'])

/item/sise_day.naver?code=068270&page=429

In [14]:
print(pgrr.prettify())

<td class="pgRR">
 <a href="/item/sise_day.naver?code=068270&amp;page=429">
  맨뒤
  <img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
 </a>
</td>

In [15]:
print(pgrr.text)

맨뒤

In [24]:
print(last_page)

429

In [25]:
import requests
df = pd.DataFrame()

sise_url = 'https://finance.naver.com/item/sise_day.naver?code=068270'

for page in range(1, int(last_page)+1):
    page_url = '{}&page={}'.format(sise_url, page)
    #df = df.append(pd.read_html(page_url, header=0)[0])
    df = pd.read_html(requests.get(page_url, headers={'User-agent': 'Mozilla/5.0'}).text)

In [27]:
df

[            날짜      종가     전일비      시가      고가      저가       거래량
 0          NaN     NaN     NaN     NaN     NaN     NaN       NaN
 1   2005.07.26  5560.0    90.0  5830.0  5880.0  5560.0   39832.0
 2   2005.07.25  5650.0    70.0  5500.0  5950.0  5500.0   61036.0
 3   2005.07.22  5580.0   160.0  5850.0  5850.0  5530.0   69921.0
 4   2005.07.21  5740.0   810.0  6450.0  6580.0  5730.0  182685.0
 5   2005.07.20  6550.0  1150.0  7690.0  7690.0  6550.0  422688.0
 6          NaN     NaN     NaN     NaN     NaN     NaN       NaN
 7          NaN     NaN     NaN     NaN     NaN     NaN       NaN
 8          NaN     NaN     NaN     NaN     NaN     NaN       NaN
 9   2005.07.19  7700.0  2500.0  6700.0  7700.0  6510.0  499088.0
 10         NaN     NaN     NaN     NaN     NaN     NaN       NaN
 11         NaN     NaN     NaN     NaN     NaN     NaN       NaN
 12         NaN     NaN     NaN     NaN     NaN     NaN       NaN
 13         NaN     NaN     NaN     NaN     NaN     NaN       NaN
 14         NaN     NaN     NaN     NaN     NaN     NaN       NaN,
    0   1    2    3    4    5    6    7    8    9    10
 0  맨앞  이전  421  422  423  424  425  426  427  428  429]

In [20]:
pd.DataFrame(df)

Empty DataFrame
Columns: []
Index: []

In [28]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup
from matplotlib import pyplot as plt

with urlopen(url) as doc:
    code ='068270'
    url = f'https://finance.naver.com/item/sise_day.naver?code={code}'
    req = requests.get(url,headers={'User-agent':'Mozilla/5.0'})
    html = BeautifulSoup(req.text,'lxml')
    pgrr = html.find('td',class_='pgRR')
    s = str(pgrr.a['href']).split('=')
    last_page = s[-1]
    
    
df = pd.DataFrame()
sise_url = 'https://finance.naver.com/item/sise_day.naver?code=068270'
for page in range(1, int(last_page)+1):
    page_url = '{}&page={}'.format(sise_url, page)
    #df = df.append(pd.read_html(page_url, header=0)[0])
    df = pd.read_html(requests.get(page_url, headers={'User-agent': 'Mozilla/5.0'}).text)

In [35]:
import pandas as pd
from  urllib.request import urlopen
from bs4 import BeautifulSoup
from matplotlib import pyplot as plt


with urlopen(url) as doc:
    code ='068270'
    url = f'https://finance.naver.com/item/sise_day.naver?code={code}'
    req = requests.get(url,headers={'User-agent':'Mozilla/5.0'})
    html = BeautifulSoup(req.text,'lxml')
    pgrr = html.find('td',class_='pgRR')
    s = str(pgrr.a['href']).split('=')
    
    last_page = s[-1]

In [72]:
import requests

df = pd.DataFrame()
headers={'User-agent': 'Mozilla/5.0'}
sise_url = 'https://finance.naver.com/item/sise_day.nhn?code=068270&page=1'
for page in range(1, int(last_page) + 1):
    page_url = '{}&page={}'.format(sise_url, page)
    
    df1 = pd.read_html(requests.get(url,  headers=headers).text)
#   df = df.append(pd.read_html(page_url,encoding='cp949', header=0)[0])

In [82]:
df1

[            날짜        종가     전일비        시가        고가        저가       거래량
 0          NaN       NaN     NaN       NaN       NaN       NaN       NaN
 1   2022.11.16  183500.0  4500.0  188500.0  190000.0  182500.0  160464.0
 2   2022.11.15  188000.0  3000.0  186500.0  189000.0  185000.0  402168.0
 3   2022.11.14  185000.0  7000.0  190000.0  192500.0  184000.0  605514.0
 4   2022.11.11  192000.0  5000.0  191500.0  194000.0  189500.0  475361.0
 5   2022.11.10  187000.0   500.0  189500.0  191500.0  186500.0  431821.0
 6          NaN       NaN     NaN       NaN       NaN       NaN       NaN
 7          NaN       NaN     NaN       NaN       NaN       NaN       NaN
 8          NaN       NaN     NaN       NaN       NaN       NaN       NaN
 9   2022.11.09  187500.0     0.0  188500.0  189000.0  186000.0  272665.0
 10  2022.11.08  187500.0  4500.0  184000.0  188500.0  184000.0  326856.0
 11  2022.11.07  183000.0  1000.0  185000.0  186500.0  182500.0  269469.0
 12  2022.11.04  184000.0  1000.0  183500.0  186000.0  183000.0  256117.0
 13  2022.11.03  185000.0  2500.0  183000.0  187500.0  181000.0  338269.0
 14         NaN       NaN     NaN       NaN       NaN       NaN       NaN,
    0   1   2   3   4   5   6   7   8   9   10  11
 0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]

In [79]:
pd.DataFrame(df1, index=pd.Index(['날짜', '종가', '전일비','시가','고가','저가','거래량']))

C:\Users\gjaischool-77\anaconda3\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

ValueError: Shape of passed values is (2, 1), indices imply (7, 1)

In [78]:
pd.DataFrame(df1)

                                                   0
0              날짜        종가     전일비        시가    ...
1     0   1   2   3   4   5   6   7   8   9   10 ...

In [62]:
pd.DataFrame(df1)

C:\Users\gjaischool-77\anaconda3\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                                                   0
0              날짜        종가     전일비        시가    ...
1     0   1   2   3   4   5   6   7   8   9   10 ...

In [43]:
pd.DataFrame(df)

C:\Users\gjaischool-77\anaconda3\lib\site-packages\pandas\core\internals\construction.py:576: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

                                                   0
0              날짜        종가     전일비        시가    ...
1     0   1   2   3   4   5   6   7   8   9   10 ...